/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06)
  --line: 1px solid var(--color-grey-light-2); }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  background: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  color: var(--color-grey-dark-2); }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search__field {
    left: 0;
    transition: 0.2s all;
    width: 90%;
    border: none;
    background-color: var(--color-grey-light-2);
    font-family: inherit;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    font-size: inherit;
    color: inherit;
    display: block;
    margin-right: -3.25rem; }
    .search__field:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
      .search__field:focus + button > svg {
        fill: var(--color-grey-dark-2); }
    .search__field::-webkit-input-placeholder {
      font-family: inherit;
      font-weight: 100;
      color: var(--color-grey-dark-3); }
  .search__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-3); }
  .search__button {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer; }

.user-nav {
  display: flex;
  align-self: stretch; }
  .user-nav__link {
    position: relative;
    padding: 0 2rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 0.2s all; }
    .user-nav__link:hover {
      background-color: var(--color-grey-light-2); }
  .user-nav__counter {
    position: absolute;
    right: 1.1rem;
    top: 1.2rem;
    width: 2rem;
    height: 2rem;
    background: var(--color-primary-light);
    color: #fff;
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__icon {
    width: 2.25rem;
    height: 2.25rem; }
  .user-nav__img {
    height: 3.75rem;
    border-radius: 50%; }
  .user-nav__username {
    margin-left: 2rem;
    color: var(--color-primary);
    text-transform: capitalize;
    font-weight: 400;
    font-size: inherit; }

.gallery {
  display: flex; }
  .gallery__img {
    max-width: 100%;
    display: block; }

.rating {
  height: 7rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: var(--line);
  padding-left: 2.5rem;
  font-size: 1.2rem; }
  .rating-stars {
    margin: 0 auto 0 1rem;
    display: flex; }
  .rating__icon {
    width: 1.75rem;
    height: 1.75rem; }
    .rating__icon--star {
      fill: var(--color-primary); }
    .rating__icon--location {
      fill: var(--color-primary);
      width: 2.25rem;
      height: 2.25rem;
      margin-right: 0.5rem; }
  .rating__box {
    background-color: var(--color-primary);
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch; }
  .rating__score {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 0.5rem; }
  .rating__votes {
    font-size: 0.8rem; }
  .rating__location {
    display: flex;
    align-items: center;
    margin-right: 2rem; }

.heading--primary {
  font-size: 2rem;
  color: var(--color-grey-dark-2);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.2; }

.btn-inline {
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid currentColor;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s all;
  font-size: inherit; }
  .btn-inline:hover {
    color: var(--color-grey-dark-1); }
  .btn-inline:focus {
    animation: pulsate 0.5s 0s infinite alternate; }

.description {
  margin-right: 4.5rem;
  flex: 0 0 60%;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  font-size: 1.4rem;
  line-height: 1.6; }
  .description__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 0;
    border-top: var(--line);
    padding-top: 4rem; }
  .description__item {
    margin-bottom: 1rem;
    flex: 0 0 50%; }
    .description__item::before {
      content: "";
      width: 1rem;
      height: 1rem;
      margin-right: 0.7rem;
      display: inline-block;
      mask-image: url("../img/chevron-thin-right.svg");
      mask-size: cover;
      background-color: var(--color-primary); }

.recommendations {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: var(--line);
  padding-top: 2rem; }
  .recommendations__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    box-sizing: content-box; }
    .recommendations__img:not(:last-child) {
      margin-right: -2rem; }

.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  font-size: 1.4rem;
  line-height: 1.6;
  position: relative;
  z-index: 100; }

.review::before {
  content: "\201C";
  position: absolute;
  top: -9rem;
  left: -1rem;
  color: var(--color-grey-light-2);
  font-size: 20rem;
  z-index: -1; }

.review__user {
  display: flex;
  align-items: center;
  margin-top: 2rem; }

.review__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%; }

.review__author {
  display: flex;
  flex-direction: column;
  margin-left: 1.4rem;
  line-height: 1.6; }

.review__name {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase; }

.review__date {
  font-size: 1.2rem;
  color: var(--color-grey-dark-3); }

.review__rate {
  color: var(--color-primary);
  font-size: 2.25rem;
  margin-left: auto; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  100% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); } }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);
  min-height: 100rem;
  background-color: var(--color-grey-light-1);
  display: flex;
  flex-direction: column; }

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  align-items: center;
  justify-content: space-between; }

.content {
  display: flex;
  flex: 1; }

.aside {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1); }

.nav {
  width: 100%; }
  .nav__list {
    margin-top: 3rem;
    list-style: none;
    display: flex;
    flex-direction: column; }
  .nav__item {
    position: relative;
    color: #fff;
    display: flex;
    align-items: center; }
    .nav__item::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
      width: 0.5rem;
      transform: scaleY(0);
      background-color: var(--color-primary-light);
      transition: transform 0.3s ease, width 0.15s 0.3s ease-in;
      transform-origin: left center;
      z-index: 10; }
    .nav__item:hover::before {
      transform: scaleY(1);
      width: 100%; }
    .nav__item:not(:last-child) {
      margin-bottom: 1rem; }
  .nav__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    z-index: 11;
    position: relative;
    padding: 2rem 3rem;
    display: block;
    color: currentColor;
    display: flex;
    justify-content: center;
    align-items: center; }
  .nav__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-right: 1.5rem; }

.main {
  flex: 1; }

.details {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }

.secondary__heading {
  font-size: 2rem;
  font-weight: 300; }

.paragraph {
  font-size: inherit; }

.text-center {
  text-align: center; }

.mb-md {
  margin-bottom: 2rem; }

.pb-md {
  padding-bottom: 2rem; }

.reviews {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .reviews > *:not(:last-child) {
    margin-bottom: 4rem; }

.cta {
  padding: 5rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .cta__btn {
    cursor: pointer;
    overflow: hidden;
    font-size: 1.4rem;
    margin-top: 3rem;
    width: 23rem;
    display: inline-block;
    height: 6rem;
    color: #fff;
    border-radius: 100rem;
    border: none;
    text-transform: uppercase;
    position: relative;
    background: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark)); }
    .cta__btn .btn__content {
      transition: all 0.3s;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      display: block; }
      .cta__btn .btn__content--visible {
        transform: translate(-50%, -50%); }
      .cta__btn .btn__content--hidden {
        transform: translate(-50%, -10rem); }
    .cta__btn:hover {
      background: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light)); }
    .cta__btn:hover > .btn__content--visible {
      transform: translate(-50%, 10rem); }
    .cta__btn:hover > .btn__content--hidden {
      transform: translate(-50%, -50%); }
