/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

// :root psuedo class is the same as html but with higher specifity
:root {
  --primary: #eb2f64;
  --primary-light: #ff3366;
  --primary-dark: #ba265d;

  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;

  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to bottom right,
    var(--primary-light),
    var(--primary-dark)
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  color: var(--grey-dark-2);
}
