.container {
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);
  min-height: 100rem;
  background-color: var(--color-grey-light-1);

  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $large-bp) {
    margin: 0;
    max-width: 100%;
  }
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: $tiny-bp) {
    flex-wrap: wrap;
    height: 12rem;
    align-content: space-around;
  }
}

.content {
  display: flex;
  flex: 1;

  @media only screen and (max-width: $small-pad-bp) {
    flex-direction: column;
  }
}
.aside {
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);
}
.nav {
  width: 100%;

  &__list {
    margin-top: 3rem;
    list-style: none;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $small-pad-bp) {
      flex-direction: row;
      align-items: center;
    }

    @media only screen and (max-width: $small-pad-bp) {
      margin: 0;
    }
    @media only screen and (max-width: $tiny-bp) {
      align-items: initial;
    }
  }

  &__item {
    // background-color: var(--color-primary-light);
    position: relative;
    color: #fff;
    display: flex;
    // justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      top: 0;
      width: 0.5rem;
      transform: scaleY(0);
      background-color: var(--color-primary-light);
      transition: transform 0.3s ease, width 0.15s 0.3s ease-in;
      transform-origin: left center;
      z-index: 10;
    }

    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;

      @media only screen and (max-width: $small-pad-bp) {
        margin: 0;
      }
    }
    @media only screen and (max-width: $small-pad-bp) {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    z-index: 11;
    position: relative;
    padding: 2rem 3rem;
    display: block;
    color: currentColor;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $tiny-bp) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
    margin-right: 1.5rem;
    @media only screen and (max-width: $tiny-bp) {
      margin: 0;
      margin-bottom: 0.7rem;
    }
  }
}

.main {
  flex: 1;
}

// Details
.details {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
  @media only screen and (max-width: $small-pad-bp) {
    padding: 3.5rem;
  }
  @media only screen and (max-width: $tiny-bp) {
    flex-direction: column;
  }
}

.secondary__heading {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.6;
}
.paragraph {
  font-size: inherit;
}

.text-center {
  text-align: center;
}
.mb-md {
  margin-bottom: 2rem;
}

.pb-md {
  padding-bottom: 2rem;
}

// Reviews
.reviews {
  & > *:not(:last-child) {
    margin-bottom: 4rem;
  }
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  padding: 5rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btn {
    cursor: pointer;
    overflow: hidden;
    font-size: 1.4rem;
    margin-top: 3rem;
    width: 23rem;
    display: inline-block;
    height: 6rem;
    color: #fff;
    border-radius: 100rem;
    border: none;
    text-transform: uppercase;
    position: relative;
    background: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    .btn__content {
      transition: all 0.3s;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      display: block;
      &--visible {
        transform: translate(-50%, -50%);
      }
      &--hidden {
        transform: translate(-50%, -10rem);
      }
    }

    &:hover {
      background: linear-gradient(
        to right,
        var(--color-primary-dark),
        var(--color-primary-light)
      );
    }
    &:hover > .btn__content--visible {
      transform: translate(-50%, 10rem);
    }
    &:hover > .btn__content--hidden {
      transform: translate(-50%, -50%);
    }
  }
}
